/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.wrapper {
	max-width: 1110px;
	margin: 0px auto;
}

h1 {
	font-family: 'Times New Roman', Times, serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	opacity: 0.6;
	letter-spacing: 5px;
	padding: 5% 0 1% 0;
}

form {
	display: flex;
}

.button-menu {
	border: 1px solid rgb(3, 3, 3);
	cursor: pointer;
	width: 60px;
	height: 50px;
	background-color: rgb(93, 112, 139);
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 1px;
}

.reversebutton {
	background:rgb(93, 112, 139) url('../img/reverse_small.png') 50% no-repeat;
}

.button-menu:hover {
	background-color: rgb(87, 129, 131);
}

.button-menu:active {
	background-color: rgb(77, 169, 185);
}

.show-dogs__body {
	display: flex;
	justify-content:center;
	margin: 30px 0 0 0; 
}

.show-dogs__button {
  padding: 0;
}

.show-dogs__images {
	display: flex;
	justify-content:center;
	margin: 30px 0;
}

.show-dogs__images img {
	width: 800px;
	height: auto;
}